

.header-wraper{
  position: relative;
  /* background: url(/src/images/police.jpg); */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details {
  overflow-y: scroll;
  height: 500px;
}